[alias]
	hist = log --pretty=format:'%h %ad | %s$d [%an]' --graph --date=short
	out = "log @{u}.."

[column]
	ui = auto

[color]
	ui = true

[commit]
	verbose = true

[core]
	autocrlf = false
	longpaths = true
	pager = delta
	
[branch]
	sort = committerdate
	
[delta]
	navigate = true
	dark = true
	line-numbers = true
	
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
	submodule = log
	
[feature]
	experimental = true
	
[format]
	pretty = fuller
	
[help]
	autocorrect = prompt
	
[interactive]
	diffFilter = delta --color-only
	
[log]
	data = iso-local
	
[merge]
	conflictstyle = zdiff3
	
[pull]
	rebase = true
	
[push]
	autoSetupRemote = true
	default = current
	useForceIfIncludes = true

[rebase]
	autostash = true
	
[rerere]
	enabled = true
	
[safe]
	directory = *

[stash]
	showPatch = true

[status]
	submoduleSummary = true
	showStash = true
	
[tag]
	sort = version:refname