[advice]
  	detachedHead = false

[alias]
	hist = log --pretty=format:'%h %ad | %s$d [%an]' --graph --date=short
	out = "log @{u}.."
	last = log -1 HEAD
	prev = diff HEAD~1 --staged

	la = config --get-regexp ^alias

	h = help
	s = status
	f = fetch
	p = pull
	pu = push
	d = diff
	ds = diff --staged
	l = log

	c = commit
	ca = commit --amend

	sw = switch --ignore-other-worktrees

	rb = rebase
	rbc = rebase --continue
	rba = rebase --abort

	rt = restore
	rts = restore --staged

	unstage = reset HEAD --
	undo = reset HEAD~1 --soft
	redo = reset 'HEAD@{1}' --soft # use only immediately after undo

	qs = commit -a -m 'WIP: quick save' -n

	ui = !lazygit

[column]
	ui = auto

[color]
	ui = true

[commit]
	verbose = true

[core]
	autocrlf = false
	longpaths = true
	pager = bat
	
[branch]
	sort = committerdate
	
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
	submodule = log
	
[feature]
	experimental = true
	
[format]
	pretty = fuller
	
[help]
	autocorrect = prompt
	
[log]
	data = iso-local
	
[merge]
	conflictstyle = zdiff3
	
[pull]
	rebase = true
	
[push]
	autoSetupRemote = true
	default = current
	useForceIfIncludes = true

[rebase]
	autostash = true
	
[rerere]
	enabled = true
	
[safe]
	directory = *

[stash]
	showPatch = true

[status]
	submoduleSummary = true
	showStash = true

[tag]
	sort = version:refname
